@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* General Styles
--------------------------------------------- */

body {
	margin: 0;
	padding: 0;
}


/* Helper Classes
--------------------------------------------- */

.clearfix {
	display: block;
	clear: both;
}


/* Typography
--------------------------------------------- */

body {
	font-size:16px;
	line-height: 30px;
	color: #333;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
}

p {
	margin: 0 0 24px;
	margin: 0 0 2.4rem;
	padding: 0;
    text-align: justify;
}


/* Links
--------------------------------------------- */

a {
	text-decoration: none;
	color: #FF5722
}

a:hover {
	text-decoration: underline; 
	color: #E64A19;
}



/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: "Roboto Slab", sans-serif;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 16px;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 19px;
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 13px;
}

h6 {
	font-size: 11px;
}

/* Sections
--------------------------------------------- */

#container{
	margin: 0 auto;
	max-width: 1200px;
}



/* Header
--------------------------------------------- */

header {
	width: 94%;
	padding: 3%;
	background-color: #FF5722;
}

header #title {
	font-size: 45px;
	color: #fff;
}

textarea {
    font-size: 14px;
}

/* Navigation
--------------------------------------------- */

nav {
	width: 97%;
	background-color: #E64A19;
	padding: 0 1.5% 0 1.5%;
}

nav ul li {
	display: inline-block;
	padding: 15px 1.5% 15px 1.5% ;
}

nav ul li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.2em;
}

nav ul li a:hover {
	color: #000000;
	text-decoration: none;
}



/* Content
--------------------------------------------- */

#content {
	float: left;
	padding: 3%;
	width: 45%;
}



/* Sidebar
--------------------------------------------- */

aside {
	float: right;
	padding: 3%;
	width: 35%;
	background-color: #eee;
}

div {float:left;}

/* Footer
--------------------------------------------- */

footer{
	width: 94%;
	padding: 3%;
	background-color: #FF5722;
	border-top: 5px solid #E64A19;
	color: #fff;
	text-align: center;
}



/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	header {
		text-align: center;
	}

	nav {
		text-align: center;
	}

	#content {
		width: 94%;
		padding: 3%;	
	}

	#sidebar {
		width: 94%;
		padding: 3%;
		border-top: 3px solid #E64A19;
	}

}

.column{height: 20px;float: left;width: 50%;}
#left{margin-left: -5px;}
#right{margin-right: -5px;}
#space{width: 10px;float: left;height: 20px;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


